<div class="content">
  <div>
    <div class="title">
      <h1>信貸試算</h1>
      <h4>一分鐘填答試算，幫助您快速了解可貸額度</h4>
    </div>
    <hr>
    <div class="flow">
      <p class="step">Step 1</p> <p class="step">Step 2</p> <p class="step">Step 3</p><br>
      <p class="flow-item"><%= image_tag("basic_w.svg", size: "30") %> 基本資料填寫</p><i class="right"></i> <p class="flow-item-1"><%= image_tag("savings.svg", size: "30") %> 借貸資訊填寫</p><i class="right"></i> <p class="flow-item-1"><%= image_tag("stats.svg", size: "30") %> 試算結果</p>
    </div>
    <div class="tab">
      <%= form_for @basic, url: "/basic_submit" do |f| %>
      
        <p class="basic"><%= image_tag("basic.svg", size: "40") %> 基本資料</p></li>
     
        <br>
        <div class="form-all">
          <div class="row">
            <div class="col-4 basic_form ">
              
              <%= f.label :age, "年齡" %><br>

              
              <%= f.select :age, [['20歲~24歲','20歲~24歲'],['25歲~29歲','25歲~29歲'],['30歲~34歲','30歲~34歲'],['35歲~39歲','35歲~39歲'],['40歲~44歲','40歲~44歲'],['45歲~49歲','45歲~49歲'],['50歲~59歲','50歲~59歲'],['60歲~64歲','60歲~64歲'],['其他','其他']],{ include_blank: 'Please choose' },{ :class => 'form-control ',:required => true} %>

            </div>

            <div class="col-4 basic_form">
              <%= f.label :education, "學歷" %><br>

              <%= f.select :education, [['博士','博士'],['碩士','碩士'],['大學','大學'],['專科','專科'],['高中、高職','高中、高職'],['其他','其他']],{include_blank: 'Please choose'}, { :class => 'form-control', :required => true } %>
            </div>
           
            <div class="col-4 basic_form">
              <%= f.label :marriage, "婚姻狀況" %><br>

              <%= f.radio_button :marriage, "未婚"%> <%= f.label :marriage, "未婚" %>
              <%= f.radio_button :marriage, "已婚", :required => true %> <%= f.label :marriage, "已婚" %>
              <%= f.radio_button :marriage, "其他" %> <%= f.label :marriage, "其他" %>

              <%#= f.select :marriage, [['未婚','未婚'],['已婚','已婚'],['其他','其他']],{}, { :class => 'form-control', required: true } %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-6 basic_form">
              <%= f.label :house, "現居住宅所有權狀況" %><br>

              <%= f.select :house, [['本人資產無貸款','本人資產無貸款'],['本人資產有貸款','本人資產有貸款'],['親戚產業','親戚產業'],['租賃','租賃'],['公司宿舍','公司宿舍'],['其他','其他']],{include_blank: 'Please choose'}, { :class => 'form-control', required: true } %>
            </div>

            <div class="col-6 basic_form">
              <%= f.label :job, "行業" %><br>

              <%= f.select :job, [['醫院、診所、教育業','醫院、診所、教育業'],['製造業','製造業'],['科技業','科技業'],['票券、證券、保險業','票券、證券、保險業'],['企業社、工業社','企業社、工業社'],['零售批發業、交通運輸、物流倉儲業','零售批發業、交通運輸、物流倉儲業'],['銀行、律師事務所、會計事務所','銀行、律師事務所、會計事務所'],['公家機關、電信、水電、燃氣、石油供應業','公家機關、電信、水電、燃氣、石油供應業'],['餐飲業','餐飲業'],['旅館飯店業','旅館飯店業'],['自由業','自由業'],['進出口貿易商、代理商','進出口貿易商、代理商'],['典當、現金服務及其他民間融資業','典當、現金服務及其他民間融資業']],{include_blank: 'Please choose'}, { :class => 'form-control', :required => true }  %>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-4 basic_form">
              <%= f.label :job_title, "職稱" %><br>

              <%= f.select :job_title, [['醫護人員、執業律師、會計師、精算師','醫護人員、執業律師、會計師、精算師'],['法官、檢察官、公職人員、教育工作者','法官、檢察官、公職人員、教育工作者'],['飛行駕駛、空服員','飛行駕駛、空服員'],['資本額>=500萬之企業負責人、高階管理人員','資本額>=500萬之企業負責人、高階管理人員'],['資本額<500萬之企業負責人','資本額<500萬之企業負責人'],['工程師','工程師'],['推銷員、營業員','推銷員、營業員'],['工讀人員、自由業者、娛樂、旅遊業者','工讀人員、自由業者、娛樂、旅遊業者'],['廚師、麵包師傅','廚師、麵包師傅'],['司機、快遞員、保全、清潔人員','司機、快遞員、保全、清潔人員'],['一般主管','一般主管'],['一般職員','一般職員'],['其他職稱','其他職稱']],{include_blank: 'Please choose'}, { :class => 'form-control', :required => true } %>
            </div>
            
            <div class="col-4 basic_form">
              <%= f.label :longevity, "現職年資" %><br>

              <%= f.select :longevity, [['未滿1年','未滿1年'],['1年~未滿2年','1年~未滿2年'],['2年~未滿3年','2年~未滿3年'],['3年~未滿4年','3年~未滿4年'],['4年~未滿8年','4年~未滿8年'],['8年~未滿15年','8年~未滿15年'],['15年~未滿20年','15年~未滿20年'],['20年以上','20年以上']],{include_blank: 'Please choose'}, { :class => 'form-control', :required => true } %>
            </div>
            
            <div class="col-4 basic_form">
              <%= f.label :income, "現職年收入" %><br>

              <%= f.select :income, [['未滿35萬元','未滿35萬元'],['35萬~未滿40萬元','35萬~未滿40萬元'],['40萬~未滿50萬元','40萬~未滿50萬元'],['50萬~未滿60萬元','50萬~未滿60萬元'],['60萬~未滿75萬元','60萬~未滿75萬元'],['75萬~未滿100萬元','75萬~未滿100萬元'],['100萬~未滿150萬元','100萬~未滿150萬元'],['150萬元以上','150萬元以上']],{include_blank: 'Please choose'}, { :class => 'form-control', :required => true } %>
            </div>

          </div>
          <hr>
          
            
              <button class=" button arrow center-block ">送出</button>
          
           
        </div>
      <% end %>
    </div>
  </div>
</div>
<br>








