<div class="content">
  <div class="row">
    <div style="text-align:center;"">
      <h1>信貸試算</h1>
      <h4>一分鐘填答試算，幫助您快速了解可貸額度</h4>
    </div>
      <%= form_for @select, url: {action: "index"} do |f| %>     
      
        <div class="tab">
        <ul class="nav nav-pills ">
          <li ><p class="basic">基本資料</p></li>
          <li><p class="situation">信用卡及借貸狀況</p></li>
          
        </ul>
        <br>
          <div class="col-md-5 col-md-offset-1"> 
            <div class="form-group">
              <%= f.label :basic_id, "年齡" %><br>

              <%= f.select :basic_id, [['請選擇',1],['20歲~24歲',2],['25歲~29歲',3],['30歲~34歲',4],['35歲~39歲',5],['40歲~44歲',6],['45歲~49歲',7],['50歲~59歲',8],['60歲~64歲',9],['其他',10]],{}, { :class => 'form-control'}%>
            </div>
            <script>
              $(function(){
                var test = $(".form-control");
                console.log(test[0].options[0].text);
              })
            </script>
            <div class="form-group">
              <%= f.label :basic_id, "學歷" %><br>

              <%= f.select :basic_id, [['請選擇',1],['博士',2],['碩士',3],['大學',4],['專科',5],['高中、高職',6],['其他',7]],{}, { :class => 'form-control' } %>
            </div>
           
            <div class="form-group">
              <%= f.label :basic_id, "婚姻狀況" %><br>

              <%= f.select :basic_id, [['請選擇',1],['未婚',2],['已婚',3],['其他',4]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "現居住宅所有權狀況" %><br>

              <%= f.select :basic_id, [['請選擇',1],['本人資產無貸款',2],['本人資產有貸款',3],['親戚產業',4],['租賃',5],['公司宿舍',6],['其他',7]],{}, { :class => 'form-control' }  %>
            </div>
          </div>
          
          <div class="col-md-5 "> 
            <div class="form-group">
              <%= f.label :basic_id, "行業" %><br>

              <%= f.select :basic_id, [['請選擇',1],['醫院、診所、教育業',2],['製造業',3],['科技業',4],['票券、證券、保險業',5],['企業社、工業社',6],['零售批發業、交通運輸、物流倉儲業',7],['銀行、律師事務所、會計事務所',8],['公家機關、電信、水電、燃氣、石油供應業',9],['餐飲業',10],['旅館飯店業',11],['自由業',12],['進出口貿易商、代理商',13],['典當、現金服務及其他民間融資業',14]],{}, { :class => 'form-control' }  %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "職稱" %><br>

              <%= f.select :basic_id, [['請選擇',1],['醫護人員、執業律師、會計師、精算師',2],['法官、檢察官、公職人員、教育工作者',3],['飛行駕駛、空服員',4],['資本額>=500萬之企業負責人、高階管理人員',5],['資本額<500萬之企業負責人',6],['工程師',7],['推銷員、營業員',8],['工讀人員、自由業者、娛樂、旅遊業者',9],['廚師、麵包師傅',10],['司機、快遞員、保全、清潔人員',11],['一般主管',12],['一般職員',13],['其他職稱',14]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "現職年資" %><br>

              <%= f.select :basic_id, [['請選擇',1],['未滿1年',2],['1年~未滿2年',3],['2年~未滿3年',4],['3年~未滿4年',5],['4年~未滿8年',6],['8年~未滿15年',7],['15年~未滿20年',8],['20年以上',9]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group" style="margin-bottom:91px;">
              <%= f.label :basic_id, "現職年收入" %><br>

              <%= f.select :basic_id, [['請選擇',1],['未滿35萬元',2],['35萬~未滿40萬元',3],['40萬~未滿50萬元',4],['50萬~未滿60萬元',5],['60萬~未滿75萬元',6],['75萬~未滿100萬元',7],['100萬~未滿150萬元',8],['150萬元以上',9]],{}, { :class => 'form-control' } %>
            </div>
          </div>
        </div>
      

      
        <div class="tab">
          <ul class="nav nav-pills nav-justified your_nav_class">
            <li><p>基本資料</p></li>
            <li class="active"><p>信用卡及借貸狀況</p></li>
          </ul>
          <br>
          <div class="col-md-5 col-md-offset-1"> 
            <div class="form-group">
              <%= f.label :basic_id, "目前持有幾家銀行的信用卡" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['1家',3],['2家',4],['3家',5],['4家',6],['5家',7],['6家',8],['7家以上',9],['不清楚',10]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "目前可使用的信用卡，最長已持有期間" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['未滿3年',3],['3年~未滿5年',4],['5年~未滿8年',5],['8年~未滿12年',6],['12年~未滿15年',7],['15年以上',8],['不清楚',9]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "近三個月是否有使用信用卡循環或預借現金" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['有使用信用卡循環或預借現金',3],['有信用卡，但無使用信用卡循環及預借現金',4],['不清楚',5]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "近一個月信用卡循環、信用卡分期、信用卡預借現金總金額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['有信用卡，但無使用循環、分期及預借現金',3],['未滿5千元',4],['5千~未滿1萬元',5],['1萬~未滿2萬元',6],['2萬~未滿5萬元',7],['5萬~未滿10萬元',8],['10萬~未滿20萬元',9],['20萬以上',10],['不清楚',11]],{}, { :class => 'form-control' } %>
            </div>
          </div>

          <div class="col-md-5"> 
            <div class="form-group">
              <%= f.label :basic_id, "近三個月內信用卡或貸款是否曾經遲繳" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡且無貸款',2],['曾經遲繳',3],['不曾遲繳',4]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "近三個月內是否有新增貸款" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無貸款',2],['有貸款，但近三個月無新增貸款',3],['近三個月有新增貸款',4]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "目前信用貸款及現金卡總額度" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無',2],['未滿30萬元',3],['30萬元~未滿50萬元',3],['50萬元~未滿80萬元',4],['80萬元~未滿100萬元',5],['100萬元~未滿150萬元',6],['150萬元以上',7]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "目前信用貸款及現金卡總餘額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無',2],['未滿30萬元',3],['30萬元~未滿50萬元',3],['50萬元~未滿80萬元',4],['80萬元~未滿100萬元',5],['100萬元~未滿150萬元',6],['150萬元以上',7]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "房貸每月還款金額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無房貸',2],['未滿5千元',3],['5千~未滿1萬元',4],['1萬~未滿1萬5千元',5],['1萬5千元~未滿2萬元',6],['2萬元~未滿2萬5千元',7],['2萬5千元~未滿3萬元',8],['3萬~未滿4萬元',9],['4萬~未滿5萬元',10],['5萬~未滿7萬元',11],['7萬~未滿10萬元',12],['10萬以上',13]],{}, { :class => 'form-control' } %>
            </div>     

          </div>

        </div>
      
  </div>
        <div style="overflow:auto;">
          <div style="float:right;">
            <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
            <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
          </div>
        </div>
        <br>
  <div id="result" style="height:150px;>
    <div class="row">
      <div>    
      
      <h2 id="loanex">您目前可貸<span id="loan">___</span>萬元</h2>
      <!--
      <h2>您目前可貸<span style="display: inline;color:red">50</span>萬元</h2>-->
      </div>
      <div>
        立即了解 <%= f.submit "線上預約", class: "btn btn-warning"%> 
      </div>  
      <% end %>  
    </div>
  </div> 
</div>  


<script>
  var currentTab = 0; // Current tab is set to be the first tab (0)
  showTab(currentTab); // Display the current tab

  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Submit";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";
    }
    
  } 

  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
        //...the form gets submitted:
      currentTab=1
      showTab(currentTab);
      var loa = 50*Math.random()*5-10*Math.random()*2;
      var loan = Math.round(loa*100)/100;
        if (loan < 0) {
          document.getElementById("loanex").innerHTML ="很抱歉，以您所填寫的資料無法試算貸款額度，如有進一步問題，請與專人聯絡: xx-xxx-xxxx"
        } else {
        document.getElementById("loan").innerHTML = "<span style='color:red'>"+loan+"</span>";
        }
      }
    
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  // dynamically activate list items when clicked
  $(".nav.nav-pills li").on("click",function(){
    $(".nav.nav-pills li").removeClass("active");
    $(this).addClass("active");
  });
</script>