<div class="content">
  <div class="row">
    <div class="title">
      <h1>信貸試算</h1>
      <h4>一分鐘填答試算，幫助您快速了解可貸額度</h4>
    </div>
    <div class="tab">
       
        <%= form_for @select, url: {action: "situation"} do |f| %>     
      
      
        
          <p class="basic">信用卡狀況</p>
         
          
       
        <br>
          <div class="form-all">
            <div class="form-group">
              <%= f.label :basic_id, "目前持有幾家銀行的信用卡" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['1家',3],['2家',4],['3家',5],['4家',6],['5家',7],['6家',8],['7家以上',9],['不清楚',10]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "目前可使用的信用卡，最長已持有期間" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['未滿3年',3],['3年~未滿5年',4],['5年~未滿8年',5],['8年~未滿12年',6],['12年~未滿15年',7],['15年以上',8],['不清楚',9]],{}, { :class => 'form-control' } %>
            </div>
            
            <div class="form-group">
              <%= f.label :basic_id, "近三個月是否有使用信用卡循環或預借現金" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['有使用信用卡循環或預借現金',3],['有信用卡，但無使用信用卡循環及預借現金',4],['不清楚',5]],{}, { :class => 'form-control' } %>
            </div>
            <p class="basic">借貸狀況</p></li>

            <div class="form-group">
              <%= f.label :basic_id, "近一個月信用卡循環、信用卡分期、信用卡預借現金總金額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡',2],['有信用卡，但無使用循環、分期及預借現金',3],['未滿5千元',4],['5千~未滿1萬元',5],['1萬~未滿2萬元',6],['2萬~未滿5萬元',7],['5萬~未滿10萬元',8],['10萬~未滿20萬元',9],['20萬以上',10],['不清楚',11]],{}, { :class => 'form-control' } %>
            </div>
            <div class="form-group">
              <%= f.label :basic_id, "近三個月內信用卡或貸款是否曾經遲繳" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無信用卡且無貸款',2],['曾經遲繳',3],['不曾遲繳',4]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "近三個月內是否有新增貸款" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無貸款',2],['有貸款，但近三個月無新增貸款',3],['近三個月有新增貸款',4]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "目前信用貸款及現金卡總額度" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無',2],['未滿30萬元',3],['30萬元~未滿50萬元',3],['50萬元~未滿80萬元',4],['80萬元~未滿100萬元',5],['100萬元~未滿150萬元',6],['150萬元以上',7]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "目前信用貸款及現金卡總餘額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無',2],['未滿30萬元',3],['30萬元~未滿50萬元',3],['50萬元~未滿80萬元',4],['80萬元~未滿100萬元',5],['100萬元~未滿150萬元',6],['150萬元以上',7]],{}, { :class => 'form-control' } %>
            </div>

            <div class="form-group">
              <%= f.label :basic_id, "房貸每月還款金額" %><br>

              <%= f.select :basic_id, [['請選擇',1],['無房貸',2],['未滿5千元',3],['5千~未滿1萬元',4],['1萬~未滿1萬5千元',5],['1萬5千元~未滿2萬元',6],['2萬元~未滿2萬5千元',7],['2萬5千元~未滿3萬元',8],['3萬~未滿4萬元',9],['4萬~未滿5萬元',10],['5萬~未滿7萬元',11],['7萬~未滿10萬元',12],['10萬以上',13]],{}, { :class => 'form-control' } %>
            </div>     

          </div>
        
        <% end %>
    </div>
  </div>
</div>




