<div class="container" >
<script>
  $(function(){
    setTimeout(clearSession(), 1800000);
    console.log(3)
  })
</script>
  
    <div class="title">
      <h1>信貸試算</h1>
      <h4>一分鐘填答試算，幫助您快速了解可貸額度</h4>
    </div>
    <hr>
    <div class="flow">
      <p class="step">Step 1</p> <p class="step">Step 2</p> <p class="step">Step 3</p><br>
      <p class="flow-item-1"><%= image_tag("basic.svg", size: "30") %> 基本資料填寫</p><i class="right"></i> <p class="flow-item-1"><%= image_tag("savings.svg", size: "30") %> 借貸資訊填寫</p><i class="right"></i> <p class="flow-item"><%= image_tag("stats_w.svg", size: "30") %> 試算結果</p>
    </div>
  
 
    <div class="tab ">
      <p class="basic"><%= image_tag("stats.svg", size: "40") %> 試算結果</p>
      <br>
      <br>
      <div class="row">
        <div class="form-result col-sm-4">
          <div class="result-box">
            <div>
              <br>
              <h3>最高可貸<span style="color:#ff751a;"> 50 </span>萬</h3>
            </div>
          </div>
        </div>
        <div class="form-result col-sm-4">
          <div class="result-box">
            <br>
            <h3>貸款期限最長<span style="color:#ff751a;"> 5 </span>年</h3>
          </div>
        </div>
        <br>
        <div class="form-result col-sm-4">
          <div class="result-box">
            <br>
            <h3>貸款利率<span style="color:#ff751a;"> 1.66% </span>起</h3>
          </div>
        </div>
      </div>
      
      <br>
      <br>
      <hr>
      <div class="row">
        <div class="col-sm-10" style="margin:0px auto;">
          <form class="form-horizontal" role="form">


            <div class="price-form">
              <div class="month-loan">
                <br>
                <h3 style="text-align: center;color: grey;">月付金試算</h3>
              </div>
              <div class="form-group">
                <h4 class="great">您的貸款總額(萬)</h4><br>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="row">
                        <div class="col-2 loan-label">
                          <label for="amount" style="color: grey;">萬: </label>
                        </div>
                        <div class="col-6">
                          <input type="text" id="amount" class="form-control">
                          <span id="text_amount"></span>                        
                        </div>
                    </div>
                  </div>
                  
                  <div class="col-sm-6">
                    <div class="price-slider">
                      <div class="col-sm-10">
                      <div id="slider"></div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
              <div class="form-group">
                <h4 class="great">您的貸款期間(月)</h4><br>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row">
                        <div class="col-2 loan-label">
                          <label for="duration" style="color: grey;">月: </label>
                        </div>
                        <div class="col-6">
                          <input id="duration" type="text" class="form-control">
                          <span id="text_duration"></span>
                        </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="price-slider">                        
                        <div class="col-sm-10">
                          <div id="slider2"></div>
                        </div>
                      </div>                  
                    </div>
                </div>
              </div>
              <hr class="style">
              <div class="form-group total">
                <label for="total" class="col-sm-6 control-label" style="color: grey;"><strong>您的每月應繳本息: </strong></label>
                <span class="help-text"></span>
                <div class="col-sm-6">
                  <input type="hidden" id="total" class="form-control">
                  <p class="price lead" id="total-label"></p>
                  <span class="price"></span>
                </div>
              </div>

            </div>

          </form>
        </div>
      </div>
      <br>
    </div>
  

  
        <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script>
<script>

    (function ($) {

      // Detect touch support
      $.support.touch = 'ontouchend' in document;

      // Ignore browsers without touch support
      if (!$.support.touch) {
        return;
      }

      var mouseProto = $.ui.mouse.prototype,
          _mouseInit = mouseProto._mouseInit,
          _mouseDestroy = mouseProto._mouseDestroy,
          touchHandled;

      /**
       * Simulate a mouse event based on a corresponding touch event
       * @param {Object} event A touch event
       * @param {String} simulatedType The corresponding mouse event
       */
      function simulateMouseEvent (event, simulatedType) {

        // Ignore multi-touch events
        if (event.originalEvent.touches.length > 1) {
          return;
        }

        event.preventDefault();

        var touch = event.originalEvent.changedTouches[0],
            simulatedEvent = document.createEvent('MouseEvents');
        
        // Initialize the simulated mouse event using the touch event's coordinates
        simulatedEvent.initMouseEvent(
          simulatedType,    // type
          true,             // bubbles                    
          true,             // cancelable                 
          window,           // view                       
          1,                // detail                     
          touch.screenX,    // screenX                    
          touch.screenY,    // screenY                    
          touch.clientX,    // clientX                    
          touch.clientY,    // clientY                    
          false,            // ctrlKey                    
          false,            // altKey                     
          false,            // shiftKey                   
          false,            // metaKey                    
          0,                // button                     
          null              // relatedTarget              
        );

        // Dispatch the simulated event to the target element
        event.target.dispatchEvent(simulatedEvent);
      }

      /**
       * Handle the jQuery UI widget's touchstart events
       * @param {Object} event The widget element's touchstart event
       */
      mouseProto._touchStart = function (event) {

        var self = this;

        // Ignore the event if another widget is already being handled
        if (touchHandled || !self._mouseCapture(event.originalEvent.changedTouches[0])) {
          return;
        }

        // Set the flag to prevent other widgets from inheriting the touch event
        touchHandled = true;

        // Track movement to determine if interaction was a click
        self._touchMoved = false;

        // Simulate the mouseover event
        simulateMouseEvent(event, 'mouseover');

        // Simulate the mousemove event
        simulateMouseEvent(event, 'mousemove');

        // Simulate the mousedown event
        simulateMouseEvent(event, 'mousedown');
      };

      /**
       * Handle the jQuery UI widget's touchmove events
       * @param {Object} event The document's touchmove event
       */
      mouseProto._touchMove = function (event) {

        // Ignore event if not handled
        if (!touchHandled) {
          return;
        }

        // Interaction was not a click
        this._touchMoved = true;

        // Simulate the mousemove event
        simulateMouseEvent(event, 'mousemove');
      };

      /**
       * Handle the jQuery UI widget's touchend events
       * @param {Object} event The document's touchend event
       */
      mouseProto._touchEnd = function (event) {

        // Ignore event if not handled
        if (!touchHandled) {
          return;
        }

        // Simulate the mouseup event
        simulateMouseEvent(event, 'mouseup');

        // Simulate the mouseout event
        simulateMouseEvent(event, 'mouseout');

        // If the touch interaction did not move, it should trigger a click
        if (!this._touchMoved) {

          // Simulate the click event
          simulateMouseEvent(event, 'click');
        }

        // Unset the flag to allow other widgets to inherit the touch event
        touchHandled = false;
      };

      /**
       * A duck punch of the $.ui.mouse _mouseInit method to support touch events.
       * This method extends the widget with bound touch event handlers that
       * translate touch events to mouse events and pass them to the widget's
       * original mouse event handling methods.
       */
      mouseProto._mouseInit = function () {
        
        var self = this;

        // Delegate the touch handlers to the widget's element
        self.element.bind({
          touchstart: $.proxy(self, '_touchStart'),
          touchmove: $.proxy(self, '_touchMove'),
          touchend: $.proxy(self, '_touchEnd')
        });

        // Call the original $.ui.mouse init method
        _mouseInit.call(self);
      };

      /**
       * Remove the touch event handlers
       */
      mouseProto._mouseDestroy = function () {
        
        var self = this;

        // Delegate the touch handlers to the widget's element
        self.element.unbind({
          touchstart: $.proxy(self, '_touchStart'),
          touchmove: $.proxy(self, '_touchMove'),
          touchend: $.proxy(self, '_touchEnd')
        });

        // Call the original $.ui.mouse destroy method
        _mouseDestroy.call(self);
      };

    })(jQuery);
        
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $("#slider").slider({
          animate: true,
          value:1,
          min: 0,
          max: 600,
          step: 10,
          slide: function(event, ui) {
              update(1,ui.value); //changed
          }
      });

      $("#slider2").slider({
          animate: true,
          value:0,
          min: 0,
          max: 400,
          step: 1,
          slide: function(event, ui) {
              update(2,ui.value); //changed
          }
      });

      //Added, set initial value.
      $("#amount").val(0);
      $("#duration").val(0);
      
      update();
      $("#amount").change(update_slider1);
      $("#duration").change(update_slider2);
      // update_slider();
  });

  //changed. now with parameter
  function update(slider,val) {
    //changed. Now, directly take value from ui.value. if not set (initial, will use current value.)
    var $amount = slider == 1?val:$("#amount").val();
    var $duration = slider == 2?val:$("#duration").val();

    /* commented
    $amount = $( "#slider" ).slider( "value" );
    $duration = $( "#slider2" ).slider( "value" );
     */

     $total = "$" + ($amount * $duration);
     $( "#amount" ).val($amount);
     $( "#amount-label" ).text($amount);
     $( "#duration" ).val($duration);
     $( "#duration-label" ).text($duration);
     $( "#total" ).val($total);
     $( "#total-label" ).text($total);

     $('#slider a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$amount+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
     $('#slider2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$duration+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
  }

  function update_slider1(slider,value){
    let $amount = $("#amount").val();
    if ($amount > 600) {
      $("#amount").val(600);
      $("#text_amount").text("金額上限600萬")
    } else if (parseInt($amount).toString() != $amount) {
      $("#amount").val(0);
      $("#text_amount").text("請輸入數字");
      $amount = 0;
    } else if (!$amount) {
      $("#amount").val(0);
    } else{
      $("#text_amount").text("");
    }
    $("#slider").slider({
      animate: true,
      value: $amount,
      min: 0,
      max: 600,
      step: 10,
      slide: function(event, ui) {
          update(1,ui.value); //changed
      }
    });
    update();
  }
  function update_slider2(slider,value){
    let $duration = $("#duration").val();
    if ($duration > 400) {
      $("#duration").val(400);
      $("#text_duration").text("最久400個月");
    } else if (parseInt($duration).toString() != $duration) {
      $("#duration").val(0);
      $("#text_duration").text("請輸入數字");
      $duration = 0;
    } else if (!$duration){
      $("#duration").val(0);
    } else{
      $("#text_duration").text("");
    } ;

    $("#slider2").slider({
      animate: true,
      value: $duration,
      min: 0,
      max: 400,
      step: 10,
      slide: function(event, ui) {
          update(1,ui.value); //changed
      }
    });
    update();
  }
</script>

        
            
<div class="row">
<h1 class="title-unit" style = display:block;><i></i>信貸知識</h1>


<ul class="collapse-list">
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>
      只根據利率挑選銀行，您真的挑到最便宜的嗎？
    </div>
    <div class="list-content">
      <h5 class="subtitle_article">利率的影響比想像中還小，選擇貸款規劃能力強的銀行，對您更有利。</h5>
      <p class="paragraph">一般人挑選銀行時，往往僅比較利率，並選擇最低利率的銀行，但事實上，各間銀行的利率差距並不大，有時僅是0.1%~0.2%的差距，這樣的差距對每月付款金額的影響並沒有您想像中的大。</p>
      <p class="paragraph"><%= image_tag("1.jpg") %>
        
      <p class="paragraph">利率、額度、貸款期數、各項費用...等等，皆會影響您的貸款負擔。一間值得信賴的銀行，不會僅以低利率與您溝通，而是依您的需求與現狀，幫您規劃並提供最合適的貸款商品。</p>
      <br>
      <table class="transparent">
          <tbody>
              <tr>
                  <td rowspan="2"><%= image_tag("2.jpg") %></td>
                  <td>
                  <h3 class="title_article" style="text-align: left;">遠見雜誌「國泰世華，理財規劃客戶信賴度全國No.1」</h3>
                  </td>
              </tr>
              <tr>
                  <td>根據遠見雜誌2014銀行形象大調查，國泰世華全國理財規劃客戶數<br>
                    No.1。我們致力於為客戶規劃最佳資金運用，為您設計最適合的信貸商品。</td>
              </tr>
          </tbody>
      </table>
      <p class="paragraph_remark">※以上資訊僅供參考</p>
    </div>
          
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>
      甚麼樣的資金用途都可以申辦信貸嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">是的，資金用途沒有限制，並且也可以協助客戶資金整合、或償還其他貸款。</p>
    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>透過代辦公司會有比較高的額度嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">不會，銀行會依據借款人信用狀況評估合適的貸款額度及利率訂價，而代辦公司不僅無法提高貸款額度，而且還可能收取較高的利率訂價及手續費用。如需進一步瞭解，您可撥打本行服務專線(02)2383-1000，或逕洽國泰世華銀行任一分行諮詢，將有專人竭誠為您服務。</p>

    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>我可以指定信貸撥款日期嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">可以，借款人可逕向銀行承辦人員提出信貸指定撥款日期。</p>
    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>信用卡待繳付金額可以轉成信貸嗎？
    </div>
    <div class="list-content">
        <p class="paragraph">申辦信用貸款，其核貸金額可以依您自身需求靈活運用資金，除繳交信用卡待繳付金額外，多餘部份亦可使用於多元理財計劃。如需瞭解更多資訊，您可撥打本行服務專線(02)2383-1000，或逕洽國泰世華銀行任一分行諮詢，將有專人竭誠為您服務。</p>
    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>
                    辦理信貸需要準備甚麼文件呢？
    </div>
    <div class="list-content">
        <p class="paragraph">需檢附下列文件：
          <ul class="bullet light-green-large">
            <li>身分證明文件正反面影本。</li>
            <li>收入證明文件。</li>
        </p>
    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %> 可以提前清償信用貸款嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">可以，借款人可自行評估是否部分提前∕全額償還信用貸款，部分信用貸款專案更提供免收提前清償違約金優惠。您可撥打本行服務專線(02)2383-1000，或逕洽國泰世華銀行任一分行諮詢，將有專人竭誠為您服務。</p>
    </div>
  </li>
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>若我想申請「優職戶信貸專案」，有哪些企業屬於該專案認定之優質企業呢？
    </div>
    <div class="list-content">
      <p class="paragraph">
        <ul class="bullet light-green-large">
          <li>台灣上市、上櫃公司。</li>
            <li>最新版「天下雜誌」製造業1,000大、服務業500大、金融業100大企業。</li>
            <li>最新版「中華徵信所」1,000大企業。</li>
            <li>最新版「財星雜誌(FORTUNE)」全球排名500大集團及其在台子公司/分公司。</li>
            <li>大專院校及中小學。</li>
            <li>「區域醫院」、「醫學中心及其分院」及「新制評鑑優等機構及其分院」醫療機構。</li>
            <li>台灣金融服務業聯合總會或其會員機構。</li>
            <li>安侯建業、資誠、勤業眾信、安永會計師事務所及理律法律事務所。</li>
            <li>一般企業(須服務滿2年，且年收入連續2年≧80萬元)。</li>
        </ul>
      </p>

  </li>

  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>申請信貸需要有保證人嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">本行是依據借款人信用狀況評估合適的貸款額度及利率訂價，所以不需要提供保證人。</p>
    </div>
  </li>
    
  <li class="collapse-list-li">
    <div class="list-header">
      <%= image_tag("icon-question.png") %>一定要到國泰世華銀行分行據點才能申請信貸嗎？
    </div>
    <div class="list-content">
      <p class="paragraph">國泰世華銀行提供您多元申請管道，您可透過下述通路擇一申請：</p>
      <ul class="bullet light-green-large">
          <li>國泰世華銀行各分行<a href="https://www.cathaybk.com.tw/cathaybk/about_query01.asp" target="_blank" class="link-primary">服務據點<i class="arrow_s_right"></i></a></li>
          <li>國泰世華銀行<a href="https://www.cathaybk.com.tw/cathaybk/OnlineService/Loan/DigitalLoan/dg_step1_index.aspx" target="_blank" class="link-primary">線上申請信貸<i class="arrow_s_right"></i></a></li>
          <li>國泰世華銀行服務專線(02)2383-1000</li>
      </ul>
      <p class="paragraph">
      亦歡迎您留下聯絡方式，將有專人竭誠為您服務。
      </p>
    </div>
         
  </li>
    
</ul>
</div>

<script >
    $(".collapse-list-li").click(function() {
      console.log(1)
      console.log(this)
      $(this).find(".list-content").toggle();
      }
    );

    $("#ex8").slider({
      tooltip: 'always'
    });

    $("#ex9").slider({
      tooltip: 'always'
    });

    $("#ex10").slider({
      tooltip: 'always'
    });
</script>
    






  <div class="situation">





  





    <div id="geolocation" style="width:100%;height:400px;border-style: solid;
    border-color: #18A853;">地圖預留</div>
    <script type="text/javascript">
      var handler = Gmaps.build('Google');
        handler.buildMap({ internal: {id: 'geolocation'} }, function(){
      // be aware chrome >= 50 requires https for geolocation to work
        if(navigator.geolocation)
          navigator.geolocation.getCurrentPosition(displayOnMap);
      
      
     
        });

      function displayOnMap(position){
        var marker = handler.addMarker({
          lat: position.coords.latitude,
          lng: position.coords.longitude
        });

       

        markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
           handler.map.centerOn(marker);
         
          center: marker;
      };
    </script>

  </div>
</div>





<script>
  function clearSession(){
    $.ajax({
      url: "/delete_session",
      method: "GET",
      success:()=>{console.log(1)}
    })
  }
</script>