<div class="container">
  <div class="row">
    <div class="col-md-5 col-sm-5 col-lg-5">
      <div class="varify-phone">
        <br>
        <h4> 信貸利率評估 </h4>
        <div id="send-pin">
          <h3>請先輸入手機號碼並領取認證碼</h3>
          <%= form_for @phone_number, remote: true do |f| %>
            <div class="form-group">
              <%= f.text_field :phone_number %>
            </div>
            <%= f.submit "取得驗證號碼", class: "b", id: 'send-pin-link' %>
          <% end %>
        </div>
  
        <div id="verify-pin">
          
        </div>

        
        <br>
        <%= video_tag('Cathay.mp4', autoplay: true, width: "100%", loop: true, muted: true, class: "video", display: "inline-block") %>
        <%= link_to '了解更多', 'https://www.cathaybk.com.tw/mobile/personal/mobile_sevice/index.aspx', class: "pull-left" %>
      </div>
    </div>
    <div class="col-md-7 col-sm-7 col-lg-7" style="text-align:center;">
      <%= image_tag("http://www.silent.com.tw/photo/6272CUB_TSF_900x515-01.jpg", width: "100%", :style => "margin-top:30px;margin-left:10px;") %>
    </div>
  </div>
<br>
<br>
<br>
<br> 
</div>



  



