<div class="container">
  <div class="row <%="sortable" %>">
    <% @takes.each do |take| %>
    
    <div class="col-md-4">
      <div class="card" data-id = "<%= take.id %>">
        
        <p class="card-text">
          
         
            <h3>時段:<%= take.card.title%></h3><br>
            <h3>電話號碼:<%= take.ip_address %></h3><br>
            <h5>號碼牌:<%= take.take_count %></h5><br>
            <h5>抽牌時間:<%= take.created_at.strftime("%m/%d %H:%M:%S") %></h5><br>
            
            
              <%= link_to '刪除', admin_card_path(take), method: :delete, data: { confirm: "Are you sure?"} ,class: "button-card card-salmon center col-md-6"%>
             
              <%= link_to '提醒', remind_admin_card_path(take), method: :post ,class: "button-card card-alge center col-md-6"%>
          
         
        </p>
         
      </div>
    </div>
   <% end %>
  </div>
  
</div>
<br>
<br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  
  <br>
  