<div class="container">
  <h3><%= link_to "提醒使用者" ,admin_cards_path, style: 'color:green;'%></h3>
    <div class="rev-time-1">
        <br>
        <h1><%= current_phone.phone_number %>,您好</h1>
    
    
        <h2>現在時間:<%= Time.now.strftime("%m/%d %H:%M:%S") %></h2>
        <br>
    </div>
    
    <div class="rev-time">
        <br>
        <div class="r-date" style="margin-bottom: 10px;">
            <%= form_for @card , class: "pill-array" do |f| %>
            <h3 style=>選擇日期:</h3> 
            <%= f.date_field :date%> 
        </div>
        <br>
        
        <h3>可預約時段:</h3>
        <div  class="col-md-8 col-md-offset-3">
            <div class="col-md-4 time-busy" >
                <%= f.radio_button :title, Card.find_by(id: 1).title %>
                <%= f.label :title, Card.find_by(id: 1).title %>
            </div>
            <div class="col-md-4 time-busy" >        
                <%= f.radio_button :title, Card.find_by(id: 2).title %>
                <%= f.label :title, Card.find_by(id: 2).title %>
            </div>
            <div class="col-md-4 time-busy" >
                <%= f.radio_button :title, Card.find_by(id: 3).title %>
                <%= f.label :title, Card.find_by(id: 3).title %>
            </div>
            <div class="col-md-4 time-busy" >           
                <%= f.radio_button :title, Card.find_by(id: 4).title %>
                <%= f.label :title, Card.find_by(id: 4).title %>
            </div>
            <div class="col-md-4 time-busy" >
                <%= f.radio_button :title, Card.find_by(id: 5).title %>
                <%= f.label :title, Card.find_by(id: 5).title %>
            </div>
            <div class="col-md-4 time-busy" >        
                <%= f.radio_button :title, Card.find_by(id: 6).title %>
                <%= f.label :title, Card.find_by(id: 6).title %>
            </div>
            <div class="col-md-4 time-busy" >
                <%= f.radio_button :title, Card.find_by(id: 7).title %>
                <%= f.label :title, Card.find_by(id: 7).title %>
            </div>
            <br>
        </div>
        <br>    
        <div class="col-md-12">
            <button class="btn btn-danger" style="width:200px;">抽號碼牌</button> 
            <% end %>   
        </div>     
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>

   

   
    <br>
 

</div>
 

 <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
