<!DOCTYPE html>
<html>
  <head>
    <title>CathaybkProject</title>
    <%= csrf_meta_tags %>
    <meta name="description" content="jireojfeiorfmeormfeopwfmeiowmfeiowfmewkfm" />
    <meta name="robots" content="index, follow">
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-W53ZV84');</script>
    <!-- End Google Tag Manager -->
    <meta name="google-site-verification" content="vjjVYhxJdeVtHmgFCB8jNp2heRKXio6WRam1OUppzUw" />
    <script src="//maps.google.com/maps/api/js?key=AIzaSyA86O6ZwBvbinRb1mpqq6iqVDz-mXi2GW4"></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css", media: 'all', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body style="background-color: #F9FBF7">
      <%= render :partial => 'shared/header' %>
      <%= yield %> 
      
      <%= render :partial => 'shared/footer' %>
      <%= render 'shared/alerts' %>

      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-W53ZV84"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
        </body>
</html>


